.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #ffffff;
  overflow: hidden;
}

.canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 150vw;
  height: 150vh;
  filter: blur(65px);
}

.overlay {
  display: none;
}
