.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;  z-index: -1;
  background-color: #ffffff;
  overflow: hidden;
}

.canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  filter: blur(70px);
}

.overlay {
  display: none;
}
